[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cltk ="*"
jupyter ="*"
matplotlib ="*"
requests ="*"
appnope ="*"
backcall ="*"
bleach ="*"
certifi ="*"
chardet ="*"
decorator ="*"
defusedxml ="*"
entrypoints ="*"
gitdb2 ="*"
idna ="*"
ipykernel ="*"
ipython ="*"
ipywidgets ="*"
jedi ="*"
jsonschema ="*"
kiwisolver ="*"
mistune ="*"
nbconvert ="*"
nbformat ="*"
nltk ="*"
notebook ="*"
numpy ="*"
pandocfilters ="*"
parso ="*"
pexpect ="*"
pickleshare ="*"
ptyprocess ="*"
pyparsing ="*"
python-crfsuite ="*"
python-dateutil ="*"
pyuca ="*"
pyzmq ="*"
qtconsole ="*"
regex ="*"
singledispatch ="*"
six ="*"
smmap2 ="*"
terminado ="*"
testpath ="*"
tornado ="*"
traitlets ="*"
urllib3 ="*"
wcwidth ="*"
webencodings ="*"
widgetsnbextension ="*"
python-Levenshtein ="*"
Cycler ="*"
GitPython ="*"
ipython_genutils ="*"
Jinja2 ="*"
jupyter_client ="*"
jupyter_console ="*"
jupyter_core ="*"
MarkupSafe ="*"
prometheus_client ="*"
prompt_toolkit ="*"
Pygments ="*"
PyYAML ="*"
Send2Trash ="*"
Whoosh ="*"

[dev-packages]

[requires]
python_version = "3.7"
