[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
cltk = "*"
python-levenshtein = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"

[requires]
python_version = "3.7"
